<form [formGroup]="formulario" (ngSubmit)="login()">
  <div class="tituloFormulario">
      <img src="https://raw.githubusercontent.com/Joannegton/Kotlin-psy-Terapeuta-Virtual/refs/heads/master/app/src/main/res/drawable/psy_pequeno.png" alt="psy_pequeno" srcset="" />
      <h2>Área de Login</h2>
  </div>

  <div class="container-tipo-usuario">
    <div>
      <label for="usuario">Usuário</label>
      <input type="checkbox" id="usuario" formControlName="usuario" />
    </div>
    <div>
      <label for="terapeuta">Terapeuta</label>
      <input type="checkbox" id="terapeuta" formControlName="terapeuta" />
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input
      type="senha"
      class="form-control"
      id="senha"
      formControlName="senha"
    />
  </div>
  <app-button type="submit" [disabled]="!formulario.valid" [acao]="'Login'">
  </app-button>
</form>

<div id="resposta"></div>
